<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">仮想通貨</th>
      <th scope="col">略称</th>
      <th scope="col">レート(仲値)</th>
      <th scope="col">買値</th>
      <th scope="col">売値</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ビットコイン</th>
      <td>BTC</td>
      <td class='middle-rate'>取得中</td>
      <td class='buy-order-value'>取得中</td>
      <td class='sell-order-value'>取得中</td>
    </tr>
  </tbody>
</table>